/* Position: static, initial, inherit, relative, absolute, fixed, sticky */

.parent {
  background: grey;
  min-height: 50vh;
  padding: 1rem;
  font-size: 2rem;

  position: relative;
}

.parent div {
  min-height: 180px;
}
.c1 {
  background: red;
  /* position: relative;
  left: 20px;
  bottom: 5px;
   */
  position: sticky;

  top: 50px;
}
.c2 {
  background: blue;
  position: absolute;

  left: 50px;
  top: 50px;
  /* width: 100%; */
}
.c3 {
  background: green;

  position: fixed;
}
